
  .accordion-container{
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
  }
  .accordion-container > h2{
    text-align: center;
    color: #2C3338;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
  .set{
    position: relative;
    width: 100%;
    height: auto;
  }
  .set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #2C3338;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }
  .set > a i{
    float: right;
    margin-top: 2px;
  }
  .set > a.active{
    background-color:#135E96;
    color: #F0F0F1;
    border: 1px solid #135E96;
  }
  .content{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display:none;
    border: #135E96 solid 1px;
    padding: 30px;
  }
  .content p{
    padding: 10px 15px;
    margin: 0;
    color: #2C3338;
  }


  .sub-set{
    position: relative;
    width: 100%;
    height: auto;
  }
  .sub-set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #2C3338;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }
  .sub-set > a i{
    float: right;
    margin-top: 2px;
  }
  .sub-set > a.active{
    background-color:#135E96;
    color: #F0F0F1;
    border: 1px solid #135E96;
  }
  .sub-content{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display:none;
    border: #135E96 solid 1px;
    padding: 30px;
  }

  .sub-content h3{
    padding: 10px 15px;
  }
  .sub-content p{
    padding: 10px 15px;
    margin: 0;
    color: #2C3338;
  }

